[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-graphql = "*"
postgres = "*"
waitress = "*"
flask-bcrypt = "*"
graphene = "*"
graphql-core = "*"
flask-script = "*"
pytest = "*"
pyjwt = "*"
azure-cosmos = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
server = "python dmarc_report_api/app.py"
gen-token = "python scripts/jwt_gen.py"

[pipenv]
allow_prereleases = false
